/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end of CSS reset */

body {
    background-image: url('https://i.imgur.com/tge203e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(8px);
    background-position: fixed;
}
.wrapper {
    width: 1600px;
    height: 800px;
    background-color: none;
    margin: 0 auto;
    padding: 70px; 
  }
  .web-services, .marketing {
    background-color: hsla(216, 100%, 90%, .4);
    height: 800px;
    width: 294px;
  }
  .first-heading, .second-heading {
    background-color: hsla(216, 100%, 90%, .4);
    height: 800px;
    width: 100px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: Raleway;
   font-weight: bold;
   color: hsl(240, 100%, 95%);
   display: flex;
   flex-direction: column;
   justify-content: center;
  }
  .profile-card {
    background-color: hsla(216, 100%, 90%, .4);
    height: 700px;
    width: 788px;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .divider {
    background-color: hsla(216, 100%, 90%, .4);
    height: 100px;
    width: 788px;
  }
  .about {
    height: 70px;
    width: 350px;
    border-radius: 5%;
    justify-content: center;
    text-align: center;
    line-height: 1.8em;
    font-family: Raleway;
    font-weight: 500;
    background-color:none;
    font-family: DynaPuff;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.8em;
    color: hsla(240, 100%, 65%, 0.7);
  }
  .description {
    height: 400px;
    width: 400px;
    background-color:hsla(285, 100%, 85%, .4); 
    border-radius: 5%;
    justify-content: center;
    text-align: center;
    font-family: DynaPuff;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.8em;
    color: hsla(240, 100%, 65%, 0.7);
    padding: 15px;
    box-shadow: 5px 10px 15px hsla(240, 100%, 65%, .4);
  }
  .pictogram {
    width: 300px;
    height: 120px;
    background-color: hsla(285, 100%, 85%, .4);
    border-radius: 5%;
    text-align: center;
    font-family: DynaPuff;
    font-weight: bold;
    font-size: 20px;
    color: lavenderblush;
    box-shadow: 5px 10px 15px hsla(240, 100%, 65%, .4);
  }
  .social-icon {
    padding: 10px;
    color: lavenderblush;
  }
  .right {
    float: right;
  }
  .first-heading {
   font-size: 75px;
  }
  #profile-img {
     width: 200px;
      border-radius: 50%;
      margin-top: -60px;
      margin-left: 290px;
      padding: 1px;
      background-color: #666;
      filter: grayscale(50%);
  }
  #profile-img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: grayscale(20%);
  }
  .second-heading {
    font-size: 75px;
  }
  .bubble {
    width: 170px;
    height: 150px;
    border-radius: 20%;
    background-color: hsl(240, 100%, 80%);
    padding:20px;
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 0.5rem solid;
    border-color: hsl(240, 100%, 95%);
    box-shadow: 5px 10px 15px hsla(240, 100%, 65%, .4);
  }
  .bubble:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
.bubble-content {
    padding: 50px;
    font-family: DynaPuff;
    font-size: 20px;
    line-height: 1.2em;
    color: hsl(240, 100%, 95%);
}
.vl {
    border-left: 6px solid hsl(240, 100%, 95%);
    height: 800px;
  }
